.input-wrapper {
    height: 10em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  
    padding: 16px;
  }
  
  .result {
    flex: 1;
    font-size: 15px;
  }
  
  .text {
    flex: 1;
    font-size: 18px;
  }