body {
  font-family: 'Helvetica';
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 3;
}
.block {
  background-color: #aac2b4;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.cart{
  width:30%;
  margin-left: 35%;
  background-color: #9ce0b8;
  border-radius: 10px;
  padding: 30px;

}
.carttitle{
  text-align: center;
  margin-bottom: 10px;
  margin-top: none;
}
.text-right {
  text-align: right;
}
img.small {
  max-height: 8rem;
}
button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #e0ce9c;
  cursor: pointer;
}
button.add {
  background-color: #0eec0e;
  width: 1.5rem;
}
button.remove {
  background-color: #f00303;
  width: 1.5rem;
}
button.badge {
  background-color: #95c2bb;
  border: none;
  width: 1.5rem;
}

.logo {
  width: 150px;
  border: grey 1px solid;
  border-radius: 50%;
}

a {
  color: white
}

