body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  margin-top: 50px;;
  background-color: white;
  width: 400px;
}

.row {
  display: flex;
}